.grid {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  border-radius: 0.4em;
  background: #f2fafd;
  box-shadow: #00000066 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 4px 8px -3px;
  max-width: 240px;
  transition: 0.3s ease-in-out;
}

.card:hover {
  background: #e9f0f3;
}

.card .prod_img {
  text-align: center;
  cursor: pointer;
}

.card_title {
  display: block;
  min-height: 45px;
}

.card_title h1 {
  cursor: pointer;
  font-size: 1.125rem;
  text-transform: capitalize;
}

.card_details h2 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.card p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.5;
}
